//todo=======Подключение файлов scss стилей=====================================================//
//*==========Подключение файлов scss стилей=====================================================//

// Обнуляющий стиль========================================//
@import "style";
// Обнуляющий стиль========================================//
// ===============Миксины=================================//
@import "mixin-code";
// ===============Миксины==================================//
// Шрифты сайта============================================//
@import "fonts";
// Шрифты сайта============================================//
// Шаблоны================================================//
@import "code-template";
// Шаблоны================================================//
// Иконочные шрифты================================================//
@import "icons";
// Иконочные шрифты================================================//
// Повторные блоки================================================//
@import "repeated";
// Повторные блоки================================================//
// Элементы форм================================================//
@import "form";
// Элементы форм================================================//
// Переменные================================================//
@import "variables";
// Переменные================================================//
// Шапка сайта=================================================//
@import "header";
// Шапка сайта=================================================//
// Главный блок=================================================//
@import "mainblock";
// Главный блок=================================================//
// Подвал=================================================//
@import "footer";
// Подвал=================================================//
// Вторая страница=================================================//
@import "card";
// Вторая страница=================================================//
// Вторая страница=================================================//
@import "nimble";
// Вторая страница=================================================//
// Применение токена=================================================//
@import "usetoken";
// Применение токена=================================================//
// Буст токена=================================================//
@import "steiking";
// Буст токена=================================================//
// Характеристики=================================================//
@import "record";
// Характеристики=================================================//
// Условия и цены=================================================//
@import "sale";
// Условия и цены=================================================//
// Партнерская программа=================================================//
@import "partner";
// Партнерская программа=================================================//
// kibotron=================================================//
@import "kibotron";
// kibotron=================================================//
//*==========Подключение файлов scss стилей=====================================================//
//todo=======Подключение файлов scss стилей=====================================================//

//todo=====Стиль для общих блоков сайта========================================================//
//*========Стиль для общих блоков сайта========================================================//

//===========body====================================//
body {
   color: #fff;
   font-family: Montserrat;
}
//===========body====================================//
//&display=swap&subset=cyrillic-ext
//=========Оболочка сайта========================//
.wrapper {
   min-height: 100vh;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   max-width: $maxWidth;
   margin: 0px auto;
}
.main {
   flex: 1 1 auto;
}
//=========Оболочка сайта========================//

//=========Ограничивающий контейнер контентной части========================//
.container {
   max-width: $maxWidthContainer;
   margin: 0px auto;
   @media (max-width: $mW1) {
      padding: 0 10px;
   }
}
//=========Ограничивающий контейнер контентной части========================//

//*========Стиль для общих блоков сайта=====================================================//
//todo=====Стиль для общих блоков сайта=====================================================//
