@import url(https://fonts.googleapis.com/css?family=Tinos:regular&display=swap&subset=cyrillic-ext);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,600,700,italic&display=swap&subset=cyrillic-ext);

@import url(https://fonts.googleapis.com/css?family=Cookie:regular&display=swap&subset=cyrillic-ext);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.btn {
  background: #FF7400;
  color: #FFFFFF;
  line-height: 19px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 19px;
  min-height: 47px;
  font-family: Open Sans;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  background: #00ff88ab;
}

.menu__btn {
  padding: 0 60px;
}

.header {
  position: absolute;
  z-index: 40;
  top: 0;
  left: 0;
  width: 100%;
}

.header__container {
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 10px;
}

.header__column {
  padding: 10px 0;
}

.header__column-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.menu__list li {
  margin: 10px 12.5px 10px 12.5px;
}

.menu__list li:last-child {
  margin: 0 0 0 24px;
}

.menu__list:after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 50px;
  background: aliceblue;
  margin: 0 0 0 25px;
}

.menu__link {
  text-align: center;
  line-height: 19px;
  color: #fff;
  text-transform: uppercase;
}

.menu__link:hover {
  text-decoration: underline;
}

.header__phone {
  margin: 10px 25px;
}

.phone__number {
  background: url("../img/icon/phone.png") left no-repeat;
  padding: 0 0 0 30px;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

.phone__text {
  line-height: 19px;
  color: #fff;
  font-family: Open Sans;
  max-width: 154px;
}

.header__button {
  margin: 0 0 0 25px;
}

.mainblock {
  position: relative;
}

.mainblock__block-text {
  padding: 300px 0 200px 0;
  position: relative;
  z-index: 5;
  max-width: 560px;
  text-align: center;
}

.mainblock__title {
  font-size: 50px;
  line-height: 114%;
  color: #D67E35;
  margin: 0px 0px 12px 0px;
}

.mainblock__title span {
  font-size: 80px;
  line-height: 115%;
  color: inherit;
}

.subtitle {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 25px;
  font-family: Open Sans;
  margin: 0px 0px 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.subtitle::after {
  content: "";
  display: inline-block;
  width: 61px;
  height: 2px;
  background: #C4C4C4;
  margin: 0 0 0 8px;
}

.subtitle::before {
  content: "";
  display: inline-block;
  width: 61px;
  height: 2px;
  background: #C4C4C4;
  margin: 0 8px 0 0;
}

.mainblock__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.card {
  background: #E5E5E5;
  margin: -106px 0 0 0;
}

.card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 -15px;
  position: relative;
  z-index: 23;
}

.card__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 20px 0px;
}

.card__item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 35px 10px 20px 10px;
  text-align: center;
  height: 100%;
  background: #fff;
  -webkit-box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
}

.card__title {
  margin: 0 0 20px 0;
  font-size: 26px;
  line-height: 115%;
  color: #2C2C2C;
}

.card__title span {
  color: #BC9060;
}

.card__subtitle {
  font-size: 26px;
  line-height: 115%;
}

.history {
  background: #e5e5e5;
  padding: 140px 0 120px 0;
}

.history__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.block-text {
  padding: 0 125px 0 0;
  text-align: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  margin: 0px 0px 45px 0px;
}

.block-text__main {
  margin: 0px 0px 39px 0px;
}

.block-text__title {
  font-size: 54px;
  line-height: 115%;
  color: #000000;
  margin: 0px 0px 20px 0px;
}

.block-text__title span {
  color: #d67e34;
}

.block-text__text {
  font-family: Open Sans;
  font-size: 16px;
  line-height: 22px;
}

.block-text__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.block-text__item {
  margin: 0px 20px 0px 20px;
}

.block-text__number {
  font-family: Open Sans;
  font-size: 40px;
  line-height: 115%;
  text-align: center;
  color: #bc9060;
}

.block-text__name-number {
  color: #000000;
  font-size: 20px;
  line-height: 135%;
}

.history__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  padding: 0 0 45% 0;
}

.happybest {
  position: relative;
  padding: 80px 0 100px 0;
}

.happybest__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.happybest__text {
  max-width: 680px;
}

.happybest__text *:last-child {
  margin-bottom: 0;
}

.happybest__title {
  color: #D67E34;
  margin: 0px 0px 20px 0px;
  font-size: 52px;
  line-height: 115%;
}

.happybest__subtitle {
  font-size: 24px;
  line-height: 137.5%;
  font-weight: bold;
  font-family: Open Sans;
  color: #fff;
}

.happybest__screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.happybest__screen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.568);
}

.our {
  padding: 120px 0 150px 0;
}

.our__title {
  margin: 0 0 120px 0;
  font-size: 54px;
  line-height: 115%;
  text-align: center;
  color: #000000;
}

.our__title span {
  color: #d67e34;
}

.our__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.our__column-b {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 40%;
  flex: 0 1 40%;
}

.our__item-image {
  position: relative;
  height: 100%;
  display: block;
  margin: 0 30px 0 0;
}

.our__image-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.our__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 60%;
  flex: 0 1 60%;
}

.our__item {
  margin: 0 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.our__item:last-child {
  margin-bottom: 0;
}

.our__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 140px;
  flex: 0 0 140px;
  margin: 0px 30px 0px 0px;
}

.our__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px;
  color: #000000;
  font-size: 26px;
  line-height: 115%;
}

.border-our {
  width: 100px;
  height: 2px;
  border-bottom: 1px dashed #000;
  margin: 15px 0;
}

.price {
  position: relative;
  padding: 100px 0 185px 0;
}

.price__title-block {
  margin: 0 0 200px 0;
  position: relative;
  z-index: 2;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  font-size: 54px;
  line-height: 115%;
  text-align: center;
}

.price__row {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.price__column {
  padding: 0 15px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 15px 0px;
}

.price__item {
  padding: 80px 0 30px 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  position: relative;
}

.price__item *:last-child {
  margin-bottom: 0;
}

.price__reco {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  background: #D67E34;
  text-align: center;
  padding: 10px 0;
  color: #000000;
  font-size: 13px;
  line-height: 18px;
}

.price__image {
  position: relative;
  margin: 0px 0px 20px 0px;
}

.price__price {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  font-size: 30px;
  padding: 34px 31px 32px 29px;
  background: #D67E34;
  border: 7px solid #FFFFFF;
  border-radius: 50%;
  line-height: 33px;
  color: #fff;
  font-family: Cookie;
}

.price__title {
  color: #000000;
  font-size: 26px;
  line-height: 115%;
  margin: 0px 0px 17px 0px;
}

.price__subtitle {
  color: #000000;
  font-size: 16px;
  line-height: 115%;
  margin: 0px 0px 20px 0px;
}

.price__screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.word-man {
  padding: 104px 0 130px 0;
  background: #E6E5E5;
}

.word-man__swiper {
  text-align: center;
  max-width: 920px;
  margin: 0px auto;
}

.word-man__swiper *:last-child {
  margin-bottom: 0;
}

.swiper__text {
  color: #000000;
  font-size: 20px;
  line-height: 27px;
  font-family: Open Sans;
  font-style: italic;
  text-align: center;
  margin: 0px 0px 17px 0px;
}

.swiper__photo {
  margin: 0px 0px 17px 0px;
}

.swiper__photo img {
  border-radius: 50%;
}

.swiper__who {
  margin: 0px 0px 10px 0px;
  color: #000000;
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
  font-family: Open Sans;
}

.swiper__name {
  font-family: Open Sans;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

.gallery {
  padding: 100px 0px 50px 0px;
}

.gallery__title {
  text-align: center;
  color: #000000;
  font-size: 54px;
  line-height: 115%;
  margin: 0px 0px 60px 0px;
}

.gallery__title span {
  color: #D67E34;
}

.gallery__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.gallery__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}

.gallery__item-bg {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  position: relative;
  padding: 0 0 50% 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.gallery__item-bg:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.gallery__item-mg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
}

.gallery__item {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  padding: 0 0 50% 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.gallery__item:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.gallery__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.gallery__image-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.shef {
  padding: 0 0 100px 0;
}

.shef__title {
  text-align: center;
  color: #000000;
  font-size: 54px;
  line-height: 115%;
  margin: 0px 0px 60px 0px;
}

.shef__title span {
  color: #D67E34;
}

.shef__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.shef__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 32.333%;
  flex: 0 1 32.333%;
  position: relative;
  padding: 0 0 40% 0;
}

.shef__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.footer {
  position: relative;
  padding: 0 0 50% 0;
  min-height: 50vh;
}

.footer__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

body {
  color: #656363;
  font-family: Tinos;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 1440px;
  margin: 0px auto;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.container {
  max-width: 1120px;
  margin: 0px auto;
}

@media (min-width: 767px) {
  .mainblock__title {
    font-size: calc(30px + 20 * (100vw / 1440));
  }

  .mainblock__title span {
    font-size: calc(40px + 40 * (100vw / 1440));
  }

  .block-text__title {
    font-size: calc(40px + 14 * (100vw / 1440));
  }

  .happybest__title {
    font-size: calc(30px + 22 * (100vw / 1440));
  }

  .our__text {
    font-size: calc(22px + 4 * (100vw / 1440));
  }

  .gallery__title {
    font-size: calc(40px + 14 * (100vw / 1440));
  }

  .shef__title {
    font-size: calc(40px + 14 * (100vw / 1440));
  }
}

@media (max-width: 1150px) {
  .block-text {
    padding: 0 50px 0 0;
  }
}

@media (max-width: 1132px) {
  .header__container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 20px 0;
  }

  .container {
    padding: 0 10px;
  }
}

@media (max-width: 1000px) {
  .price__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }
}

@media (max-width: 992px) {
  .block-text {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    padding: 0;
  }

  .history__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 990px) {
  .card__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }
}

@media (max-width: 960px) {
  .our__column-b {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .our__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .border-our {
    display: none;
  }
}

@media (max-width: 900px) {
  .menu__list li:first-child {
    margin-left: 0;
  }
}

@media (max-width: 870px) {
  .happybest__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .happybest__text {
    margin-bottom: 20px;
  }
}

@media (max-width: 769px) {
  .header__button {
    margin: 0 25px;
  }

  .mainblock__block-text {
    padding: 350px 0 200px 0;
  }

  .mainblock__image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.363);
  }

  .card__column {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    min-height: 310px;
  }

  .history {
    padding: 70px 0px 50px 0px;
  }

  .history__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 80%;
    flex: 0 1 80%;
    padding: 0 0 75% 0;
  }

  .happybest {
    padding: 30px 0 30px 0;
  }

  .happybest__container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .our__container {
    padding: 0;
  }

  .our__title {
    margin: 0 0 70px 0;
  }

  .our__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .our__column-b {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    margin: 0 0 30px 0;
  }

  .our__item-image {
    margin: 0;
    min-height: 58vh;
  }

  .our__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    padding: 0 10px;
  }

  .our__image {
    margin: 0 5px 0 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
  }

  .our__text {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .price {
    padding: 60px 0 100px 0;
  }

  .price__title-block {
    margin: 0 0 100px 0;
  }

  .price__row {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow: auto;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .price__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
  }

  .word-man {
    padding: 30px 0 30px 0;
  }

  .gallery {
    padding: 40px 0px 40px 0px;
  }

  .gallery__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .gallery__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .gallery__item-bg {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .gallery__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .shef {
    padding: 0 0 30px 0;
  }

  .shef__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .shef__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 48%;
    flex: 0 1 48%;
    padding: 0 0 80% 0;
  }
}

@media (max-width: 767px) {
  .mainblock__title {
    font-size: calc(30px + 34 * ((100vw - 320px) / 1440));
  }

  .mainblock__title span {
    font-size: calc(40px + 68 * ((100vw - 320px) / 1440));
  }

  .block-text__title {
    font-size: calc(40px + 23.8 * ((100vw - 320px) / 1440));
  }

  .happybest__title {
    font-size: calc(30px + 37.4 * ((100vw - 320px) / 1440));
  }

  .our__text {
    font-size: calc(22px + 6.8 * ((100vw - 320px) / 1440));
  }

  .gallery__title {
    font-size: calc(40px + 23.8 * ((100vw - 320px) / 1440));
  }

  .shef__title {
    font-size: calc(40px + 23.8 * ((100vw - 320px) / 1440));
  }
}

@media (max-width: 450px) {
  .menu__list:after {
    content: none;
  }

  .phone {
    text-align: center;
  }

  .phone__text {
    max-width: none;
  }

  .history__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    padding: 0 0 95% 0;
  }

  .gallery__item-bg {
    min-height: 40vh;
  }

  .gallery__item-mg {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .gallery__item {
    min-height: 40vh;
  }

  .shef__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    min-height: 50vh;
  }
}

@media (max-width: 344px) {
  .menu__list li:last-child {
    margin: 0 24px;
  }
}

.webp .phone__number{ background: url(../img/icon/phone.webp) left no-repeat; }