.block-text {
   padding: 0 0 60px 0;
}

.block-text__container {
   padding: 0 20px;
}

.block-text__main {
}

.block-text__title {
   font-weight: 700;
   font-size: 32px;
   line-height: 42px;
   text-align: center;
   letter-spacing: 0.5px;
   color: #212A2F;
   margin-bottom: 54px;
}

.block-text__subtitle {
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   letter-spacing: 0.5px;
   color: #212A2F;
   margin-bottom: 34px;
}

.block-text__button {
   display: flex;
   justify-content: center;
   gap: 20px;
   @media (max-width: 450px) {
      flex-direction: column;
   }
}

.block-text__link {
   @extend %link-other;
}
