.block {
   padding: 0 10px;
}
.block__container {
   max-width: 1390px;
   margin: 0px auto;
}
.block__text {
   background-color: rgba(154, 168, 177, 1);
   padding: 120px 0px;
   margin: 0 0 30px 0;
   @media (max-width: 768px) {
      padding: 80px 0;
   }
   @media (max-width: 500px) {
      padding: 40px 0;
   }
}

.block__logo {
   text-align: center;
   margin: 0 0 24px 0;
}
.block__title {
   color: #fff;
}

.block__subtitle {
   padding: 0 10px;
   color: #fff;
}
