.screen {
   position: relative;
   z-index: 5;
   min-height: 50vh;
   display: flex;
}

.screen__nav {
   padding: 50px 20px;
   min-width: 300px;
   color: #fff;
   position: relative;
   flex: 1 1 auto;
   display: flex;
   justify-content: flex-end;
   align-items: flex-start;
   flex-direction: column;
   background-color: rgba(0, 0, 0, 0.089);
   z-index: 10;
   text-align: left;
   @media (max-width: 768px) {
      justify-content: center;
      align-items: center;
   }
}

.screen__title {
   font-size: 43px;
   line-height: 110%;
   margin: 0 0 12px 0;
   @include adaptive-fonts (43, 30);
   @media (max-width:767px) {
      line-height: 110%;
      text-align: center;
   }
}

.screen__subtitle {
   font-size: 15px;
   line-height: 18px;
   letter-spacing: 0.9px;
   margin: 0 0 18px 0;
   @include adaptive-fonts (15, 14);
   @media (max-width:767px) {
      margin: 0 0 30px 0;
   }
}

.screen__button {
   display: flex;
   gap: 20px;
   @media (max-width: 450px) {
      flex-direction: column;
   }
}

.screen__link {
   @extend %link-screen;
}

.screen__image {
   padding: 0 0 40% 0;
   &:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.212);
      z-index: 1;
   }
   img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}