//todo=======Подключение файлов scss стилей=====================================================//
//*==========Подключение файлов scss стилей=====================================================//

// Обнуляющий стиль========================================//
@import "style";
// Обнуляющий стиль========================================//
// ===============Миксины=================================//
@import "mixin-code";
// ===============Миксины==================================//
// Шрифты сайта============================================//
@import "fonts";
// Шрифты сайта============================================//
// Шаблоны================================================//
@import "code-template";
// Шаблоны================================================//
// Иконочные шрифты================================================//
@import "icons";
// Иконочные шрифты================================================//
// Повторные блоки================================================//
@import "repeated";
// Повторные блоки================================================//
// Элементы форм================================================//
@import "form";
// Элементы форм================================================//
// Переменные================================================//
@import "variables";
// Переменные================================================//
// Шапка сайта=================================================//
@import "header";
// Шапка сайта=================================================//
// Главный блок=================================================//
@import "mainblock";
// Главный блок=================================================//
// Карточки=================================================//
@import "shop";
// Карточки=================================================//
// =================================================//
@import "energy";
// =================================================//
// =================================================//
@import "ideal";
// =================================================//
// Подвал=================================================//
@import "footer";
// Подвал=================================================//
//*==========Подключение файлов scss стилей=====================================================//
//todo=======Подключение файлов scss стилей=====================================================//
//&display=swap&subset=cyrillic-ext
//todo=====Стиль для общих блоков сайта========================================================//
//!=========Относительные единицы====WARNING=================//
//=========PROC %===========//

@function prc($pxOne, $pxTwo) {
   $result: math.div($pxOne, $pxTwo) * 100%;
   @return $result;
}
//=========PROC %===========//
//==========REM=============//
@function rem($px) {
   $result: math.div($px, 16) + rem;
   @return $result;
}
//==========REM=============//
//==========EM==============//
@function em($px) {
   $result: math.div($px, 16) + em;
   @return $result;
}
//==========EM==============//
//!=========Относительные единицы=====================//
//*========Стиль для общих блоков сайта========================================================//
//===========body====================================//
body {
   color: #000;
   font-family: "Roboto";
   font-size: 0.875rem;
   
}
//===========body====================================//

//=========Оболочка сайта========================//
.wrapper {
   min-height: 100vh;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   max-width: $maxWidth;
   margin: 0px auto;
   background: #F0FAF7;
}
.main {
   flex: 1 1 auto;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
//=========Оболочка сайта========================//

//=========Ограничивающий контейнер контентной части========================//
.container {
   max-width: $maxWidthContainer;
   margin: 0px auto;
   @media (max-width: $mW1) {
      padding: 0 10px;
   }
}
//=========Ограничивающий контейнер контентной части========================//

//*========Стиль для общих блоков сайта=====================================================//
//todo=====Стиль для общих блоков сайта=====================================================//

.what {
   background: #FFFFFF;
   padding: 7rem 0;
}
.what__container {
   max-width: 56.25rem;
   text-align: center;
   margin: 0px auto;
   *:last-child{
      margin-bottom: 0;
   }
}

.what__subtitle {
   margin: 0px 0px 24px 0px;
}