
//=======Переменная контейнера=-============//
$maxWidth: 90rem; // 1440 / 16 = 90 rem
$maxWidthContainer: 81.875rem; // 1310 / 16 = 81.875 rem
//=======Переменная контейнера=-============//
//========Переменная медиа-запроса===========//
$mW1: 81.875em;
$mW2: 64.06em; // 1025 / 16 = 64.06em
$mW3: 48.06em; // 769 / 16 = 48.06em
$mW4: 28.125em; // 450/ 16 = 28.125em
//========Переменная медиа-запроса===========//
