//todo=======Подключение файлов scss стилей=====================================================//
//*==========Подключение файлов scss стилей=====================================================//

// Обнуляющий стиль========================================//
@import "style";
// Обнуляющий стиль========================================//
// ===============Миксины=================================//
@import "mixin-code";
// ===============Миксины==================================//
// Шрифты сайта============================================//
@import "fonts";
// Шрифты сайта============================================//
// Шаблоны================================================//
@import "code-template";
// Шаблоны================================================//
// Иконочные шрифты================================================//
@import "icons";
// Иконочные шрифты================================================//
// Повторные блоки================================================//
@import "repeated";
// Повторные блоки================================================//
// Элементы форм================================================//
@import "form";
// Элементы форм================================================//
// Переменные================================================//
@import "variables";
// Переменные================================================//
// Шапка сайта=================================================//
@import "header";
// Шапка сайта=================================================//
// Главная страница сайта==================================================//
@import "mainblock";
// Главная страница сайта=================================================//
// Вторая страница сайта==================================================//
@import "localli";
// Вторая страница сайта=================================================//
// Третья страница сайта==================================================//
@import "sameday";
// Третья страница сайта=================================================//
// Четвертая страница сайта==================================================//
@import "custom";
// Четвертая страница сайта=================================================//
// Пятая страница==================================================//
@import "price";
// Пятая страница=================================================//
// Шестая страница==================================================//
@import "map";
// Шестая страница=================================================//
// Выпадающие списки==================================================//
@import "list";
// Выпадающие списки=================================================//
// Восьмая страница==================================================//
@import "get";
// Восьмая страница=================================================//
// Восьмая страница==================================================//
@import "footer";
// Восьмая страница=================================================//
//*==========Подключение файлов scss стилей=====================================================//
//todo=======Подключение файлов scss стилей=====================================================//
//icon-Vector//=== класс для иконки галочка ===//
//todo=====Стиль для общих блоков сайта========================================================//
//*========Стиль для общих блоков сайта========================================================//

//===========body====================================//
body {
   color: #000;
   font-family: Roboto;
}
//===========body====================================//

//=========Оболочка сайта========================//
.wrapper {
   min-height: 100vh;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   max-width: $maxWidth;
   margin: 0px auto;
}
.content {
   flex: 1 1 auto;
}
//=========Оболочка сайта========================//

//=========Ограничивающий контейнер контентной части========================//
.container {
   max-width: $maxWidthContainer;
   margin: 0px auto;
   @media (max-width: $mW1) {
      padding: 0 10px;
   }
}
//=========Ограничивающий контейнер контентной части========================//

//*========Стиль для общих блоков сайта=====================================================//
//todo=====Стиль для общих блоков сайта=====================================================//


