//=======Переменная контейнера=-============//
$maxWidth: 1440px;
$maxWidthContainer: 1240px;
//=======Переменная контейнера=-============//
//========Переменная медиа-запроса===========//
$mW1: $maxWidthContainer;
$mW2: 1025px;
$mW3: 769px;
$mW4: 450px;
//========Переменная медиа-запроса===========//
