.footer {
   padding: 90px 10px 0px 10px;
   background: rgba(81, 108, 129, 1);
   color: #fff;
   @media (max-width: 768px) {
      padding: 40px 10px 0px 10px;
   }
}

.footer__row {
   display: flex;
   justify-content: space-between;
   margin: 0px 0px 50px 0px;
   flex-wrap: wrap;
   gap: 20px;
   @media (max-width: 900px) {
      justify-content: space-around;
   }
}
.footer__column {
   display: flex;
   flex-direction: column;
   flex: 0 0 280px;
   margin: 0px 0px 20px 0px;
}

.footer__item {
   flex: 1 1 auto;
}
.footer__title {
   font-size: 20px;
   text-transform: uppercase;
   span {
      color: #f07f18;
   }
   h2 {
      font-weight: 700;
   }
   margin: 0px 0px 50px 0px;
}
.footer__text {
   font-weight: 500;
   font-size: 16px;
   line-height: 150%;
}

.footer__list {
   li {
      margin: 0px 0px 20px 0px;
   }
}
.footer__link {
   color: #fff;
   &:hover {
      text-decoration: underline;
   }
}
.footer__subtitle {
   margin: 0px 0px 50px 0px;
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
}
.footer__number {
   display: flex;
   justify-content: space-between;
   margin: 0px 0px 20px 0px;
}
.footer__number-icon {
   display: flex;
   align-items: center;
   margin: 0px 35px 0px 0px;
   img {
      margin: 0 10px 0 0;
   }
}
.footer__number-work {
   text-align: right;
   max-width: 100px;
   font-size: 12px;
   line-height: 150%;
   font-family: "Ubuntu", sans-serif;
}
.footer__nav {
   margin: 0px 0px 20px 0px;
   display: flex;
   position: relative;
   img {
      margin: 0px 10px 0px 0px;
      align-self: center;
   }
   p{
      line-height: 20px;
      
   }
}
.footer__phone {
   margin: 0 0 50px 0;
   display: flex;
   align-items: center;
   font-size: 16px;
   font-weight: 600;
   line-height: 23px;
   img {
      margin: 0 10px 0 0;
   }
}
.footer__button{
   @media (max-width: 900px) {
      text-align: center;
   }
}
.footer__link-btn {
   @extend %link;
   padding: 18px 20px 18px 30px;
}
.footer__logo {
   text-align: center;
}
