.logo {
   padding: 102px 10px 130px 10px;
   background: rgba(255, 255, 255, 1)00;
   color: #273947;
   @media (max-width: 768px) {
      padding: 40px 10px 30px 10px;
   }
}

.logo__text {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0px 0px 115px 0px;
   @media (max-width: 768px) {
      flex-direction: column;
      margin: 0px 0px 60px 0px;
   }
}
.logo__title {
   font-family: 'Playfair Display', serif;
   font-size: 48px;
   line-height: 150%;
   text-transform: uppercase;
   @include adaptive-fonts(48, 28);
   @media (max-width: 768px) {
      flex: 0 1 100%;
      text-align: center;
      line-height: 100%;
      margin: 0px 0px 20px 0px;
   }
}
.logo__subtitle {
   line-height: 150%;
   font-weight: 600;
   font-size: 20px;
   flex: 0 1 278px;
   @media (max-width: 768px) {
      flex: 0 1 100%;
      text-align: center;
   }
}
.logo__row {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 20px;
   @media (max-width: 660px) {
      justify-content: space-around;
   }
}
.logo__column {
   flex: 0 1 23%;
   margin: 0px 0px 90px 0px;
}

.logo__image {
   text-align: center;
}
.column-mg {
   display: flex;
   justify-content: center;
   flex: 0 1 25%;
}
