//todo=======Подключение файлов scss стилей=====================================================//
//*==========Подключение файлов scss стилей=====================================================//

// Обнуляющий стиль========================================//
@import "style";
// Обнуляющий стиль========================================//
// ===============Миксины=================================//
@import "mixin-code";
// ===============Миксины==================================//
// Шрифты сайта============================================//
@import "fonts";
// Шрифты сайта============================================//
// Шаблоны================================================//
@import "code-template";
// Шаблоны================================================//
// Иконочные шрифты================================================//
@import "icons";
// Иконочные шрифты================================================//
// Повторные блоки================================================//
@import "repeated";
// Повторные блоки================================================//
// Элементы форм================================================//
@import "form";
// Элементы форм================================================//
// Переменные================================================//
@import "variables";
// Переменные================================================//
// Шапка сайта=================================================//
@import "header";
// Шапка сайта=================================================//
// Главный блок=================================================//
@import "mainblock";
// Главный блок=================================================//
// Карточки=================================================//
@import "card";
// Карточки=================================================//
// Наша история=================================================//
@import "history";
// Наша история=================================================//
// Отпразднуй в лушем=================================================//
@import "happybest";
// Отпразднуй в лушем=================================================//
// Наши блюда=================================================//
@import "our";
// Наши блюда=================================================//
// Меню=================================================//
@import "price";
// Меню=================================================//
// Отзывы=================================================//
@import "word-man";
// Отзывы=================================================//
// Галерея=================================================//
@import "gallery";
// Галерея=================================================//
// Наши повара=================================================//
@import "shef";
// Наши повара=================================================//
// Подвал=================================================//
@import "footer";
// Подвал=================================================//

//*==========Подключение файлов scss стилей=====================================================//
//todo=======Подключение файлов scss стилей=====================================================//
//@import url(https://fonts.googleapis.com/css?family=Tinos:regular&display=swap&subset=cyrillic-ext);
//@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,600,700,italic&display=swap&subset=cyrillic-ext);
//@import url(https://fonts.googleapis.com/css?family=Cookie:regular&display=swap&subset=cyrillic-ext);
//&display=swap&subset=cyrillic-ext
//todo=====Стиль для общих блоков сайта========================================================//
//*========Стиль для общих блоков сайта========================================================//

//===========body====================================//
body {
   color: #656363;
   //font-family: Open Sans;
   font-family: Tinos;
}
//===========body====================================//

//=========Оболочка сайта========================//
.wrapper {
   min-height: 100vh;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   max-width: $maxWidth;
   margin: 0px auto;
}
.main {
   flex: 1 1 auto;
}
//=========Оболочка сайта========================//

//=========Ограничивающий контейнер контентной части========================//
.container {
   max-width: $maxWidthContainer;
   margin: 0px auto;
   @media (max-width: $mW1) {
      padding: 0 10px;
   }
}
//=========Ограничивающий контейнер контентной части========================//

//*========Стиль для общих блоков сайта=====================================================//
//todo=====Стиль для общих блоков сайта=====================================================//
