@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800,900);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  src: url("fonts/icons.eot?a8w9iy");
  src: url("fonts/icons.eot?a8w9iy#iefix") format("embedded-opentype"), url("fonts/icons.ttf?a8w9iy") format("truetype"), url("fonts/icons.woff?a8w9iy") format("woff"), url("fonts/icons.svg?a8w9iy#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-],
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cain:before {
  content: "\e900";
}

.icon-ellipse:before {
  content: "\e901";
}

.icon-ellipse-1:before {
  content: "\e902";
}

.icon-ellipse-3:before {
  content: "\e903";
}

.icon-k:before {
  content: "\e904";
}

.icon-kibotron:before {
  content: "\e905";
}

.icon-logo-3:before {
  content: "\e906";
}

.icon-logo-1:before {
  content: "\e909";
}

.icon-logo-2:before {
  content: "\e90c";
}

.icon-lottery:before {
  content: "\e90f";
}

.icon-medium:before {
  content: "\e910";
}

.icon-N:before {
  content: "\e911";
}

.icon-signIn:before {
  content: "\e912";
}

.icon-sphere-blue:before {
  content: "\e913";
}

.icon-sphere-green-1:before {
  content: "\e915";
}

.icon-sphere-green-2:before {
  content: "\e917";
}

.icon-stake:before {
  content: "\e919";
}

.icon-telegram:before {
  content: "\e91a";
}

.icon-tron:before {
  content: "\e91b";
}

.icon-twitter:before {
  content: "\e91c";
}

.icon-youtube:before {
  content: "\e91d";
}

.menu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
}

.menu__btn-border {
  background: -webkit-gradient(linear, left top, left bottom, from(#E2F685), to(#8AF9AD));
  background: -o-linear-gradient(top, #E2F685 0%, #8AF9AD 100%);
  background: linear-gradient(180deg, #E2F685 0%, #8AF9AD 100%);
  border-radius: 8px;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}

.menu__btn-border:hover {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#E2F685), to(#549708));
  background: -o-linear-gradient(top, #E2F685 0%, #549708 100%);
  background: linear-gradient(180deg, #E2F685 0%, #549708 100%);
}

.menu__btn-border:hover:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  bottom: 3px;
  right: 3px;
  background-color: #05030E;
  z-index: 1;
  border-radius: 8px;
  color: #FFFFFF;
}

.menu__btn-border:hover:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#E2F685), to(#8AF9AD));
  background: -o-linear-gradient(top, #E2F685 0%, #8AF9AD 100%);
  background: linear-gradient(180deg, #E2F685 0%, #8AF9AD 100%);
  z-index: -1;
  border-radius: 8px;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 30px;
  color: #05030E;
  font-weight: 600;
  line-height: 20px;
  position: relative;
  z-index: 1000;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.menu__btn:hover {
  color: #FFFFFF;
}

.sali__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 21px 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  background: -o-linear-gradient(344.44deg, #E2F685 18.43%, #8AF9AD 89.58%);
  background: linear-gradient(105.56deg, #E2F685 18.43%, #8AF9AD 89.58%);
  -webkit-box-shadow: 0px 24px 64px rgba(138, 249, 173, 0.3);
  box-shadow: 0px 24px 64px rgba(138, 249, 173, 0.3);
  border-radius: 17px;
  color: #05030E;
  line-height: 20px;
  font-weight: 600;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.sali__link:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

.kibotron__bottom-button {
  padding: 35px 0 0 0;
}

.kibotron__bottom-btn {
  background: -o-linear-gradient(315deg, #00FFAA 0%, #4579F5 53.01%, #9C42F5 99.83%);
  background: linear-gradient(135deg, #00FFAA 0%, #4579F5 53.01%, #9C42F5 99.83%);
  border-radius: 17px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 21px 89px;
  color: #ffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.kibotron__bottom-btn:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

.header {
  background: #05030e;
  z-index: 1;
}

.header__container {
  min-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 10px 0 0;
  position: relative;
  z-index: 2;
}

.icon-logo-1 {
  font-size: 40px;
  margin: 0px 20px 0px 0px;
  color: #B4F299;
  text-shadow: 0px 15px 44px #7bf547;
}

.header__logo-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
}

.menu__body {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.menu__list {
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 50px 0 0;
}

.menu__list li {
  margin: 0px 0px 0px 50px;
}

.menu__list li:first-child {
  margin: 0px 0px 0px 0px;
}

.menu__link {
  color: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  white-space: nowrap;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__sublist {
  display: none;
}

.mainblock {
  z-index: 1;
  margin: -100px 0 0 0;
  padding: 0px 0 0px 260px;
  background: #05030e;
}

.mainblock__container {
  max-width: 1920px;
  margin: 0px auto;
}

.mainblock__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.mainblock__block-text {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 41%;
  flex: 0 1 41%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 130px 10px 100px 10px;
}

.mainblock__item-text *:last-child {
  margin-bottom: 0;
}

.mainblock__title {
  color: #b4f299;
  font-weight: 800;
  line-height: 123%;
  font-size: 48px;
  margin: 0px 0px 25px 0px;
}

.mainblock__title h1 {
  font-weight: 800;
}

.mainblock__subtitle {
  margin: 0px 0px 50px 0px;
  color: #8fa2a6;
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
}

.mainblock__button:hover {
  -webkit-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.mainblock__link {
  -webkit-box-shadow: 0px 24px 64px rgba(138, 249, 173, 0.3);
  box-shadow: 0px 24px 64px rgba(138, 249, 173, 0.3);
  padding: 21px 34px;
  border-radius: 17px;
  background: -o-linear-gradient(344.44deg, #e2f685 18.43%, #8af9ad 89.58%);
  background: linear-gradient(105.56deg, #e2f685 18.43%, #8af9ad 89.58%);
  color: #05030e;
  font-size: 16px;
  line-height: 80%;
  font-weight: 600;
}

.mainblock__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 59%;
  flex: 0 1 59%;
  position: relative;
  padding: 0 0 53.15% 0;
}

.mainblock__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.footer {
  background: #05030e;
  padding: 52px 0px 52px 0px;
  z-index: 1;
}

.footer__title {
  text-align: center;
  margin: 0px 0px 50px 0px;
  color: #b4f299;
  font-size: 34px;
  line-height: 120%;
}

.footer__title span {
  color: #b4f299;
  font-weight: 800;
  line-height: 120%;
  font-size: 34px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.social__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 120px;
  flex: 0 0 120px;
  padding: 22px 0;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 20px;
  opacity: 0.5;
}

.social__item:hover {
  opacity: 1;
  position: relative;
  background: #05030e;
}

.social__item:hover::before {
  content: "";
  position: absolute;
  top: -0.1em;
  left: -0.1em;
  height: calc(100% + 0.2em);
  width: calc(100% + 0.2em);
  background: -webkit-gradient(linear, right bottom, left top, color-stop(5%, #8AF9AD), color-stop(100%, transparent), color-stop(70%, transparent), color-stop(90%, #8AF9AD));
  background: -o-linear-gradient(right bottom, #8AF9AD 5%, transparent 100%, transparent 70%, #8AF9AD 90%);
  background: linear-gradient(to left top, #8AF9AD 5%, transparent 100%, transparent 70%, #8AF9AD 90%);
  border-radius: 20px;
  z-index: -1;
}

.icon-telegram {
  text-shadow: 0px 24px 64px rgba(138, 249, 173, 0.3);
  margin: 0px 0px 17px 0px;
  font-size: 35px;
  color: #e2f685;
}

.social__text {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
  text-shadow: 0px 24px 64px rgba(138, 249, 173, 0.3);
  color: #ffffff;
  text-transform: uppercase;
  line-height: 20px;
  font-weight: bold;
}

.icon-youtube {
  margin: 0px 0px 17px 0px;
  font-size: 35px;
  color: #e2f685;
}

.icon-twitter {
  margin: 0px 0px 17px 0px;
  font-size: 35px;
  color: #e2f685;
}

.icon-medium {
  margin: 0px 0px 17px 0px;
  font-size: 35px;
  color: #e2f685;
}

.card {
  background: #05030e;
  position: relative;
  z-index: 100;
}

.card__row {
  padding: 0px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.card__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 23%;
  flex: 0 1 23%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.card__column:hover {
  -webkit-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
}

.card__item {
  display: block;
  padding: 50px 60px;
  border-radius: 20px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
  background: #05030e;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.card__item::before {
  content: "";
  position: absolute;
  top: -0.2em;
  left: -0.2em;
  height: calc(100% + 0.3em);
  width: calc(100% + 0.3em);
  background: -webkit-gradient(linear, right bottom, left top, color-stop(5%, #8af9ad), color-stop(100%, transparent), color-stop(70%, transparent), color-stop(90%, #8af9ad));
  background: -o-linear-gradient(right bottom, #8af9ad 5%, transparent 100%, transparent 70%, #8af9ad 90%);
  background: linear-gradient(to left top, #8af9ad 5%, transparent 100%, transparent 70%, #8af9ad 90%);
  border-radius: 20px;
  z-index: -1;
}

.card__item:hover {
  -webkit-box-shadow: 0px 34px 74px rgba(162, 220, 137, 0.2);
  box-shadow: 0px 34px 74px rgba(162, 220, 137, 0.2);
}

.card__item:hover .icon-tron {
  background: -o-linear-gradient(310.67deg, #bbc423 -14.59%, #e99a3d 99.86%);
  background: linear-gradient(139.33deg, #bbc423 -14.59%, #e99a3d 99.86%);
  color: #fff;
}

.card__item:hover .icon-lottery {
  background: -o-linear-gradient(310.67deg, #bbc423 -14.59%, #e99a3d 99.86%);
  background: linear-gradient(139.33deg, #bbc423 -14.59%, #e99a3d 99.86%);
  color: #fff;
}

.card__item:hover .icon-stake {
  background: -o-linear-gradient(310.67deg, #bbc423 -14.59%, #e99a3d 99.86%);
  background: linear-gradient(139.33deg, #bbc423 -14.59%, #e99a3d 99.86%);
  color: #fff;
}

.card__item:hover .icon-cain {
  background: -o-linear-gradient(310.67deg, #bbc423 -14.59%, #e99a3d 99.86%);
  background: linear-gradient(139.33deg, #bbc423 -14.59%, #e99a3d 99.86%);
  color: #fff;
}

.card__item:hover .card__title {
  color: #e3f784;
}

.card__item:hover::before {
  content: "";
  position: absolute;
  top: -0.2em;
  left: -0.2em;
  height: calc(100% + 0.3em);
  width: calc(100% + 0.3em);
  background: #e3f784;
  border-radius: 20px;
  z-index: -1;
}

.card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 143%;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0px 0px 52px 0px;
}

.card__title p {
  padding: 0 0 0 20px;
}

.card__text {
  color: #ffffff;
  font-weight: 500;
  line-height: 164%;
}

.icon-tron {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58px;
  flex: 0 0 58px;
  height: 58px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #37583c;
  border-radius: 10px;
  font-size: 37px;
  color: #e2f685;
}

.icon-lottery {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58px;
  flex: 0 0 58px;
  height: 58px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #37583c;
  border-radius: 10px;
  font-size: 37px;
  color: #e2f685;
}

.icon-stake {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58px;
  flex: 0 0 58px;
  height: 58px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #37583c;
  border-radius: 10px;
  font-size: 37px;
  color: #e2f685;
}

.icon-cain {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58px;
  flex: 0 0 58px;
  height: 58px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #37583c;
  border-radius: 10px;
  font-size: 37px;
  color: #e2f685;
}

.nimble {
  background: #05030e;
}

.nimble__container {
  padding: 30px 0px 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.nimble__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 40%;
  flex: 0 1 40%;
  position: relative;
  margin: 0px 0px 0px -70px;
}

.nimble__image img {
  max-width: 100%;
}

.nimble__block-text {
  padding: 50px 0 0 100px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 55%;
  flex: 0 1 55%;
}

.nimble__title {
  color: #FFFFFF;
  font-size: 24px;
  line-height: 91.5%;
  font-weight: bold;
  margin: 0px 0px 40px 0px;
}

.nimble__text {
  color: #8FA2A6;
  font-weight: 500;
  fz: 16px;
  line-height: 150%;
}

.nimble__text *:last-child {
  margin-bottom: 0;
}

.nimble__text p {
  margin: 0 0 30px 0;
}

.usetoken {
  background: #05030e;
  z-index: 1;
}

.usetoken__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
}

.usetoken__block-list {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

.usetoken__list {
  position: relative;
  background: #05030e;
  border-radius: 20px;
}

.usetoken__list::before {
  content: "";
  position: absolute;
  top: -0.4em;
  left: -0.4em;
  height: calc(100% + 0.8em);
  width: calc(100% + 0.8em);
  background: -webkit-gradient(linear, right bottom, left top, color-stop(5%, #8AF9AD), color-stop(100%, transparent), color-stop(70%, transparent), color-stop(90%, #8AF9AD));
  background: -o-linear-gradient(right bottom, #8AF9AD 5%, transparent 100%, transparent 70%, #8AF9AD 90%);
  background: linear-gradient(to left top, #8AF9AD 5%, transparent 100%, transparent 70%, #8AF9AD 90%);
  border-radius: 20px;
  z-index: -1;
}

.usetoken__title {
  margin: 0px 0px 40px 0px;
  text-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
  font-size: 24px;
  line-height: 91.5%;
  font-weight: bold;
  color: #e99a3d;
}

.usetoken__text {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 150%;
}

.usetoken__text *:last-child {
  margin-bottom: 0;
}

.usetoken__text li {
  margin: 0px 0px 20px 0px;
}

.usetoken__text li::before {
  content: "";
  margin: 0 26px 0 0;
  display: inline-block;
  width: 19px;
  height: 8px;
  background: -o-linear-gradient(344.44deg, #E2F685 18.43%, #8AF9AD 89.58%);
  background: linear-gradient(105.56deg, #E2F685 18.43%, #8AF9AD 89.58%);
  border-radius: 8px;
}

.usetoken__absolute {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.usetoken__word {
  -webkit-box-shadow: 0px 14px 34px rgba(140, 249, 172, 0.4);
  box-shadow: 0px 14px 34px rgba(140, 249, 172, 0.4);
  font-size: 30px;
  color: #e2f685;
  padding: 40px;
  border: 1px solid rgba(162, 220, 137, 0.35);
  border-radius: 50%;
  position: relative;
  z-index: 100;
}

.usetoken__word::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: -80px;
  left: -80px;
  width: 250%;
  height: 250%;
  border: 1px solid rgba(162, 220, 137, 0.35);
  border-radius: 50%;
}

.usetoken__word::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: -160px;
  left: -160px;
  width: 400%;
  height: 400%;
  border: 1px solid rgba(162, 220, 137, 0.35);
  border-radius: 50%;
}

.icon-ellipse {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 40px;
  text-shadow: 0px 14px 43px #D5AB32;
  color: #c6b92a;
}

.icon-ellipse-1 {
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  height: 100%;
  color: #c9ea77;
  text-shadow: 0px 14px 42px #92D176;
  font-size: 20px;
}

.icon-ellipse-3 {
  position: absolute;
  top: 90px;
  left: -205px;
  width: 100%;
  height: 100%;
  color: #c9ea77;
  text-shadow: 0px 14px 42px #92D176;
  font-size: 30px;
}

.steiking {
  background: #05030e;
}

.steiking__container {
  padding: 150px 10px 50px 10px;
  max-width: 1036px;
  margin: 0px auto;
}

.steiking__block-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0px 0px 51px 0px;
}

.steiking__title {
  color: #b4f299;
  font-weight: 800;
  font-size: 34px;
  line-height: 120.5%;
  margin: 0px 50px 0px 0px;
}

.steiking__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: rgba(180, 242, 153, 0.5);
  font-size: 24px;
  line-height: 110%;
  font-weight: bold;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.steiking__subtitle P {
  display: inline-block;
  -webkit-text-decoration: underline 1px dashed rgba(162, 220, 137, 0.25);
  text-decoration: underline 1px dashed rgba(162, 220, 137, 0.25);
}

.steiking__noth {
  color: #d8a834;
  font-size: 12px;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  margin: 0px 0px 28px 0px;
}

.steiking__noth::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0px 10px 0px 0px;
  background: -o-linear-gradient(310.67deg, #bbc423 -14.59%, #e99a3d 99.86%);
  background: linear-gradient(139.33deg, #bbc423 -14.59%, #e99a3d 99.86%);
  -webkit-box-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
  box-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
}

.steiking__with {
  color: #7ee8a0;
  font-size: 12px;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  margin: 0px 0px 28px 0px;
}

.steiking__with::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0px 10px 0px 0px;
  background: -o-linear-gradient(344.44deg, #e2f685 18.43%, #8af9ad 89.58%);
  background: linear-gradient(105.56deg, #e2f685 18.43%, #8af9ad 89.58%);
}

.steiking__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.steiking__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 18%;
  flex: 0 1 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.steiking__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: -90px 0 90px 0;
}

.steiking__item-text {
  padding: 20px 0 0 0;
  color: #ffffff;
  font-weight: 500;
  line-height: 150%;
  text-align: center;
}

.steiking__text {
  color: #8fa2a6;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.steiking__text *:last-child {
  margin-bottom: 0;
}

.steiking__text p {
  margin: 0px 0px 20px 0px;
}

.record {
  background: #05030e;
  z-index: 1;
  position: relative;
}

.record__container {
  padding: 50px 10px 50px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 50px;
}

.record__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.record__item-graphick {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 550px;
  flex: 0 0 550px;
  padding: 50px 0px 50px 0px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background: #05030e;
}

.record__item-graphick::before {
  content: "";
  position: absolute;
  top: -0.2em;
  left: -0.2em;
  height: calc(100% + 0.4em);
  width: calc(100% + 0.4em);
  background: -webkit-gradient(linear, right bottom, left top, color-stop(5%, #8af9ad), color-stop(100%, transparent), color-stop(70%, transparent), color-stop(90%, #8af9ad));
  background: -o-linear-gradient(right bottom, #8af9ad 5%, transparent 100%, transparent 70%, #8af9ad 90%);
  background: linear-gradient(to left top, #8af9ad 5%, transparent 100%, transparent 70%, #8af9ad 90%);
  border-radius: 20px;
  z-index: -1;
}

.record__text p:first-child {
  position: absolute;
  top: 7%;
  left: 20%;
  font-weight: 500;
}

.record__text p:nth-child(2) {
  position: absolute;
  top: 18%;
  left: 75%;
  font-weight: 500;
}

.record__text p:last-child {
  position: absolute;
  top: 60%;
  left: 7%;
  font-weight: 500;
}

.record__image {
  position: relative;
  margin: 0px 0px 0px 0px;
}

.record__image img {
  width: 250px;
  height: 250px;
}

.icon-logo-2 {
  font-size: 40px;
  margin: 0px 20px 0px 0px;
  color: #B4F299;
  text-shadow: 0px 15px 44px #7bf547;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 60px;
  background: #14131a;
  border-radius: 50%;
}

.record__item-text {
  text-align: center;
}

.record__item-text p:first-child {
  color: #b4f299;
  font-size: 16px;
  line-height: 23px;
  font-weight: bold;
  margin: 0px 0px 5px 0px;
  padding: 30px 0px 0px 0px;
}

.record__item-text p:last-child {
  color: #8af9ad;
  font-weight: 800;
  font-size: 34px;
  line-height: 120.5%;
}

.record__column-list {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 45%;
  flex: 0 1 45%;
}

.item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.item-price__title {
  font-size: 24px;
  line-height: 120.8%;
  font-weight: bold;
  margin: 0px 0px 58px 0px;
}

.item-price__first-text {
  color: #8FA2A6;
  font-size: 16px;
  line-height: 120%;
  font-weight: 500;
}

.item-price__first-text li {
  margin: 0px 0px 35px 0px;
}

.item-price__first-text li::before {
  content: "";
  display: inline-block;
  width: 36px;
  height: 1px;
  background: -o-linear-gradient(344.44deg, rgba(226, 246, 133, 0.6) 18.43%, rgba(138, 249, 173, 0.6) 89.58%);
  background: linear-gradient(105.56deg, rgba(226, 246, 133, 0.6) 18.43%, rgba(138, 249, 173, 0.6) 89.58%);
  border-radius: 17px;
  margin: 0px 30px 5px 0px;
}

.item-price__second-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}

.item-price__second-text li {
  margin: 0px 0px 35px 0px;
}

.sale {
  padding: 100px 0 50px 0;
  background: #05030e;
  position: relative;
  z-index: 100;
}

.sale__title-block {
  color: #B4F299;
  text-align: center;
  font-size: 34px;
  line-height: 120.5%;
  font-weight: 800;
  margin: 0px 0px 50px 0px;
}

.sale__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.sale__columns {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 75%;
  flex: 0 1 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 25px;
}

.sale__column-conditions {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 350px;
  flex: 0 0 350px;
}

.sale__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 18%;
  flex: 0 1 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sale__item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.sale__item:hover {
  -webkit-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  transform: translateY(-15px);
  -webkit-box-shadow: 0px 34px 74px rgba(162, 220, 137, 0.2);
  box-shadow: 0px 34px 74px rgba(162, 220, 137, 0.2);
  background: rgba(5, 4, 14, 0.4);
}

.sale__title {
  text-align: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  line-height: 23px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 20px 20px 0 0px;
  padding: 25px 0px 25px 0px;
  margin: 0 0 5px 0;
  position: relative;
  background: #05030e;
}

.sale__title::before {
  content: "";
  position: absolute;
  top: -0.2em;
  left: -0.2em;
  height: calc(100% + 0.4em);
  width: calc(100% + 0.4em);
  background: -webkit-gradient(linear, right top, left bottom, color-stop(5%, #8AF9AD), color-stop(100%, transparent), color-stop(70%, transparent), color-stop(90%, #8AF9AD));
  background: -o-linear-gradient(right top, #8AF9AD 5%, transparent 100%, transparent 70%, #8AF9AD 90%);
  background: linear-gradient(to left bottom, #8AF9AD 5%, transparent 100%, transparent 70%, #8AF9AD 90%);
  border-radius: 20px 20px 0 0px;
  z-index: -1;
}

.sale__blok-price {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 30px 0;
  position: relative;
  border-radius: 0 0 20px 20px;
  background: #05030e;
}

.sale__blok-price::before {
  content: "";
  position: absolute;
  top: -0.2em;
  left: -0.2em;
  height: calc(100% + 0.4em);
  width: calc(100% + 0.4em);
  background: -webkit-gradient(linear, right bottom, left top, color-stop(5%, #8AF9AD), color-stop(100%, transparent), color-stop(70%, transparent), color-stop(90%, #8AF9AD));
  background: -o-linear-gradient(right bottom, #8AF9AD 5%, transparent 100%, transparent 70%, #8AF9AD 90%);
  background: linear-gradient(to left top, #8AF9AD 5%, transparent 100%, transparent 70%, #8AF9AD 90%);
  border-radius: 0 0 20px 20px;
  z-index: -1;
}

.sale__dollars {
  text-align: center;
  color: #e2f685;
  font-weight: 800;
  font-size: 34px;
  line-height: 120.5%;
  margin: 0px 0px 10px 0px;
  text-shadow: 0px 10px 34px rgba(123, 228, 79, 0.568);
}

.sale__price {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  color: #5DA271;
}

.sale__item-conditions {
  padding: 52px 42px;
  -webkit-box-shadow: 0px 34px 74px rgba(162, 220, 137, 0.2);
  box-shadow: 0px 34px 74px rgba(162, 220, 137, 0.2);
  background: rgba(5, 4, 14, 0.4);
  border-radius: 20px;
  border: 1px solid #7bf547;
  margin: 0px 0px 22px 0px;
}

.sale__top-conditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sale__text-conditions {
  color: #E3F784;
  font-size: 16px;
  line-height: 23px;
  text-transform: uppercase;
  margin: 0px 0px 40px 0px;
}

.icon-logo-3 {
  font-size: 40px;
  color: #B4F299;
  text-shadow: 0px 15px 44px #7bf547;
}

.sale__main-conditions *:last-child {
  margin-bottom: 0;
}

.sale__title-conditions {
  color: #A2DC89;
  font-size: 12px;
  line-height: 23px;
  font-weight: 500;
}

.sale__subtitle-conditions {
  color: #FFFFFF;
  font-weight: bold;
  line-height: 23px;
  margin: 0px 0px 10px 0px;
}

.partner {
  background: #05030e;
  padding: 50px 10px 50px 10px;
}

.partner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.partner__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 60%;
  flex: 0 1 60%;
  position: relative;
  padding: 0 0 50% 0;
}

.partner__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.partner__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 40%;
  flex: 0 1 40%;
}

.partner__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  margin: 0px 0px 70px 0px;
}

.partner__level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 10px 0px;
}

.partner__level p:first-child {
  white-space: nowrap;
  font-weight: 500;
}

.partner__level p:first-child:after {
  content: "";
  background: -o-linear-gradient(344.44deg, #e2f685 18.43%, #8af9ad 89.58%);
  background: linear-gradient(105.56deg, #e2f685 18.43%, #8af9ad 89.58%);
  width: 36px;
  height: 1px;
  margin: 0 23px 5px 23px;
  display: inline-block;
}

.partner__level p:last-child {
  text-shadow: 0px 24px 64px rgba(138, 249, 173, 0.3);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #e2f685;
}

.partner__progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0px 0px 10px 0px;
}

.partner__progress-percent {
  color: #e2f685;
  text-shadow: 0px 24px 64px rgba(138, 249, 173, 0.3);
  font-size: 26px;
  font-weight: 800;
  line-height: 120%;
}

.partner__text {
  max-width: 700px;
  text-align: left;
  margin: 0px auto;
  color: #8FA2A6;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.partner__progressbar {
  height: 8px;
  border-radius: 20px;
  position: relative;
  display: block;
  width: 400px;
  margin: 0 30px 0 0;
  -webkit-box-shadow: 0px 24px 64px rgba(138, 249, 173, 0.3);
  box-shadow: 0px 24px 64px rgba(138, 249, 173, 0.3);
}

.partner__progressbar span {
  display: block;
  height: 100%;
  background: -o-linear-gradient(344.44deg, #E2F685 18.43%, #8AF9AD 89.58%);
  background: linear-gradient(105.56deg, #E2F685 18.43%, #8AF9AD 89.58%);
  border-radius: 20px;
}

.partner__progressbar-a {
  height: 8px;
  border-radius: 20px;
  position: relative;
  display: block;
  width: 400px;
  background: #C4C4C4;
  margin: 0 30px 0 0;
  -webkit-box-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
  box-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
}

.partner__progressbar-a span {
  display: block;
  height: 100%;
  background: -o-linear-gradient(310.67deg, #CAEE39 -14.59%, #E99A3D 99.86%);
  background: linear-gradient(139.33deg, #CAEE39 -14.59%, #E99A3D 99.86%);
  border-radius: 20px;
}

.level-a p:first-child {
  font-weight: 500;
}

.level-a p:first-child:after {
  content: "";
  background: -o-linear-gradient(310.67deg, #CAEE39 -14.59%, #E99A3D 99.86%);
  background: linear-gradient(139.33deg, #CAEE39 -14.59%, #E99A3D 99.86%);
  width: 36px;
  height: 1px;
  margin: 0 23px 3px 23px;
  display: inline-block;
}

.level-a p:last-child {
  text-shadow: 0px 24px 64px rgba(138, 249, 173, 0.3);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #e99a3d;
}

.percent-a {
  text-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
  color: #e99a3d;
}

.partner__progressbar-b {
  height: 8px;
  border-radius: 20px;
  position: relative;
  display: block;
  width: 400px;
  background: #C4C4C4;
  margin: 0 30px 0 0;
  -webkit-box-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
  box-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
}

.partner__progressbar-b span {
  display: block;
  height: 100%;
  background: -o-linear-gradient(310.67deg, #EED139 -14.59%, #E9713D 99.86%);
  background: linear-gradient(139.33deg, #EED139 -14.59%, #E9713D 99.86%);
  border-radius: 20px;
}

.level-b p:first-child {
  font-weight: 500;
}

.level-b p:first-child:after {
  content: "";
  background: -o-linear-gradient(310.67deg, #EED139 -14.59%, #E9713D 99.86%);
  background: linear-gradient(139.33deg, #EED139 -14.59%, #E9713D 99.86%);
  width: 36px;
  height: 1px;
  margin: 0 23px 3px 23px;
  display: inline-block;
}

.level-b p:last-child {
  text-shadow: 0px 24px 64px rgba(138, 249, 173, 0.3);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #e9713d;
}

.percent-b {
  text-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
  color: #e9713d;
}

.partner__progressbar-c {
  height: 8px;
  border-radius: 20px;
  position: relative;
  display: block;
  width: 400px;
  background: #C4C4C4;
  margin: 0 30px 0 0;
  -webkit-box-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
  box-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
}

.partner__progressbar-c span {
  display: block;
  height: 100%;
  background: -o-linear-gradient(310.67deg, #EE6439 -14.59%, #E9713D 99.86%);
  background: linear-gradient(139.33deg, #EE6439 -14.59%, #E9713D 99.86%);
  border-radius: 20px;
}

.level-c p:first-child {
  font-weight: 500;
}

.level-c p:first-child:after {
  content: "";
  background: -o-linear-gradient(310.67deg, #EE6439 -14.59%, #E9713D 99.86%);
  background: linear-gradient(139.33deg, #EE6439 -14.59%, #E9713D 99.86%);
  width: 36px;
  height: 1px;
  margin: 0 23px 3px 23px;
  display: inline-block;
}

.level-c p:last-child {
  text-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #e9713d;
}

.percent-c {
  text-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
  color: #e9713d;
}

.kibotron {
  background: #05030e;
  padding: 70px 0 50px 0;
  position: relative;
  z-index: 1;
}

.kibotron__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.kibotron__absolute {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: -200px 0px 0px 0px;
}

.kibotron__word {
  -webkit-box-shadow: 0px 14px 34px rgba(140, 249, 172, 0.4);
  box-shadow: 0px 14px 34px rgba(140, 249, 172, 0.4);
  font-size: 105px;
  color: #4579f5;
  padding: 60px 70px 60px 70px;
  border: 1px solid rgba(162, 220, 137, 0.35);
  border-radius: 50%;
  position: relative;
  z-index: 100;
}

.kibotron__word::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: -60px;
  left: -60px;
  width: 150%;
  height: 150%;
  border: 1px solid rgba(162, 220, 137, 0.35);
  border-radius: 50%;
}

.kibotron__word::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: -300px;
  left: -350px;
  width: 400%;
  height: 400%;
  border: 1px solid rgba(162, 220, 137, 0.35);
  border-radius: 50%;
}

.icon-sphere-blue {
  color: #10debc;
  font-size: 50px;
  text-shadow: 0px 14px 43px #4589E7;
  position: absolute;
  top: 30%;
  left: 30%;
}

.icon-sphere-green-1 {
  text-shadow: 0px 14px 42px #92D176;
  color: #c9ea77;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 64.5%;
}

.icon-sphere-green-2 {
  text-shadow: 0px 14px 42px #92D176;
  color: #c9ea77;
  font-size: 35px;
  position: absolute;
  top: 100%;
  left: 5%;
}

.kibotron__card {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

.kibotron__title {
  line-height: 150%;
  font-size: 48px;
  font-weight: 800;
  margin: 0px 0px 30px 0px;
}

.icon-kibotron {
  color: #4579f5;
}

.kibotron__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 30px;
}

.kibotron__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 45%;
  flex: 0 1 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.kibotron__item {
  padding: 50px 40px;
  position: relative;
  background: #05030e;
  border-radius: 20px;
}

.kibotron__item::before {
  content: "";
  position: absolute;
  top: -0.1em;
  left: -0.1em;
  height: calc(100% + 0.2em);
  width: calc(100% + 0.2em);
  background: -webkit-gradient(linear, right bottom, left top, color-stop(5%, #8AF9AD), color-stop(100%, transparent), color-stop(70%, transparent), color-stop(90%, #8AF9AD));
  background: -o-linear-gradient(right bottom, #8AF9AD 5%, transparent 100%, transparent 70%, #8AF9AD 90%);
  background: linear-gradient(to left top, #8AF9AD 5%, transparent 100%, transparent 70%, #8AF9AD 90%);
  border-radius: 20px;
  z-index: -1;
}

.kibotron__item-title {
  color: #4579f5;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 20px;
  margin: 0px 0px 25px 0px;
  padding: 0 0 0 70px;
  text-align: left;
  background: url("../img/bg-1.png") left no-repeat;
}

.item-title-2 {
  background: url("../img/bg-2.png") left no-repeat;
}

.item-title-3 {
  background: url("../img/bg-3.png") left no-repeat;
}

.item-title-4 {
  background: url("../img/bg-4.png") left no-repeat;
}

.kibotron__text {
  text-align: left;
  padding: 0 0 0 70px;
  font-size: 12px;
  line-height: 20px;
}

.kibotron__bottom-block {
  text-align: center;
  max-width: 800px;
  margin: 0px auto;
  padding: 150px 0 0 0;
}

.kibotron__bottom-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

body {
  color: #fff;
  font-family: Montserrat;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 1920px;
  margin: 0px auto;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.container {
  max-width: 1370px;
  margin: 0px auto;
}

@media (min-width: 767px) {
  .mainblock__title {
    font-size: calc(24px + 24 * (100vw / 1920));
  }

  .footer__title {
    font-size: calc(28px + 6 * (100vw / 1920));
  }

  .footer__title span {
    font-size: calc(20px + 14 * (100vw / 1920));
  }

  .steiking__title {
    font-size: calc(26px + 8 * (100vw / 1920));
  }

  .steiking__subtitle {
    font-size: calc(20px + 4 * (100vw / 1920));
  }

  .sale__title-block {
    font-size: calc(26px + 8 * (100vw / 1920));
  }
}

@media (max-width: 1370px) {
  .menu__list {
    padding: 0;
  }

  .menu__list li {
    margin: 0 0 0 20px;
  }

  .mainblock {
    padding: 0 0px 95px 0px;
  }

  .mainblock__block-text {
    padding: 130px 10px 100px 10px;
  }

  .nimble__container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px 45px 30px 45px;
  }

  .nimble__image {
    margin: 0px 0px 0px 0px;
  }

  .record__item-graphick {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 500px;
    flex: 0 0 500px;
  }

  .record__item-graphick::before {
    content: none;
  }

  .sale__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 30%;
    flex: 0 1 30%;
  }

  .partner__text {
    padding: 50px 20px 0 20px;
  }

  .kibotron__container {
    padding: 0 10px;
  }

  .kibotron__absolute {
    margin: 0px 0px 0px 0px;
  }

  .kibotron__columns {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .container {
    padding: 0 10px;
  }
}

@media (max-width: 1270px) {
  .card__item {
    padding: 30px 25px;
  }
}

@media (max-width: 1243px) {
  .icon-sphere-blue {
    top: 24%;
    left: 30%;
  }

  .icon-sphere-green-1 {
    top: 50%;
    left: 93%;
  }

  .icon-sphere-green-2 {
    top: 75%;
    left: 5%;
  }

  .kibotron__card {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 80%;
    flex: 0 1 80%;
  }
}

@media (max-width: 1150px) {
  .card__row {
    gap: 15px;
    padding: 40px 0 40px 0;
  }
}

@media (max-width: 1130px) {
  .header__container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header__logo {
    margin: 20px 0px 20px 0px;
  }
}

@media (max-width: 1025px) {
  .menu__list {
    gap: 20px;
  }

  .menu__list li {
    margin: 0;
  }

  .mainblock {
    margin: -100px 0 0 0;
  }

  .card__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 48%;
    flex: 0 1 48%;
  }

  .nimble__image {
    margin: 0;
  }

  .record__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .mainblock__block-text {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    padding: 40px 40px 0 40px;
    margin: -90px 0 0 0;
    position: relative;
    z-index: 1;
  }

  .mainblock__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 0 84% 0;
    min-height: 40vh;
  }

  .kibotron__word::after {
    top: -170px;
    left: -170px;
    width: 250%;
    height: 250%;
  }
}

@media (max-width: 1000px) {
  .partner__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 920px) {
  .sale__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 45%;
    flex: 0 1 45%;
  }
}

@media (max-width: 900px) {
  .kibotron__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .icon-sphere-blue {
    top: 24px;
    left: 150px;
    width: 100%;
    height: 100%;
  }

  .icon-sphere-green-1 {
    top: 270px;
    left: 55px;
    width: 100%;
    height: 100%;
  }

  .icon-sphere-green-2 {
    display: none;
  }

  .kibotron__card {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    overflow: auto;
    padding: 70px 0 0 0;
  }

  .kibotron__title {
    margin: 0px 0px 30px 0px;
    text-align: center;
  }

  .kibotron__columns {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow: auto;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 20px 0 20px 30px;
  }

  .kibotron__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
  }

  .kibotron__bottom-block {
    padding: 50px 30px 0 30px;
  }
}

@media (max-width: 769px) {
  .footer {
    padding: 30px 0px 30px 0px;
  }

  .footer__title {
    margin: 0px 0px 20px 0px;
  }

  .card__row {
    overflow: auto;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .card__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 85%;
    flex: 0 0 85%;
  }

  .card__item {
    margin: 0 0 0 10px;
  }

  .nimble__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 60px 0 0px 0;
  }

  .nimble__block-text {
    padding: 0px 45px 0 45px;
  }

  .usetoken__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 50px 0 100px 0;
  }

  .usetoken__block-list {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    padding: 0 40px;
  }

  .usetoken__absolute {
    padding: 100px 0;
  }

  .steiking__container {
    padding: 50px 40px 50px 40px;
  }

  .steiking__title {
    margin: 0px 20px 0px 0px;
  }

  .steiking__row {
    overflow: auto;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0 0px 40px 0;
  }

  .steiking__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    margin: 0 40px 0px 0;
  }

  .steiking__item {
    margin: -40px 0 20px 0;
  }

  .record__column-list {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .item-price {
    gap: 20px;
    padding: 0 10px;
  }

  .item-price__first-text li::before {
    margin: 0px 5px 5px 0px;
  }

  .sale__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .sale__columns {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    overflow: auto;
    padding: 40px 0 40px 20px;
  }

  .sale__column-conditions {
    padding: 40px 0 0 0;
  }

  .sale__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }

  .partner {
    ppadding: 50px 10px 50px 10px;
  }

  .partner__image {
    padding: 0 0 80% 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .partner__progressbar {
    width: 280px;
  }

  .partner__progressbar-a {
    width: 280px;
  }

  .partner__progressbar-b {
    width: 280px;
  }

  .partner__progressbar-c {
    width: 280px;
  }
}

@media (max-width: 767px) {
  .mainblock__title {
    font-size: calc(24px + 40.8 * ((100vw - 320px) / 1920));
  }

  .footer__title {
    font-size: calc(28px + 10.2 * ((100vw - 320px) / 1920));
  }

  .footer__title span {
    font-size: calc(20px + 23.8 * ((100vw - 320px) / 1920));
  }

  .steiking__title {
    font-size: calc(26px + 13.6 * ((100vw - 320px) / 1920));
  }

  .steiking__subtitle {
    font-size: calc(20px + 6.8 * ((100vw - 320px) / 1920));
  }

  .sale__title-block {
    font-size: calc(26px + 13.6 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 562px) {
  .record__item-graphick {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 450px;
    flex: 0 0 450px;
    padding: 30px 0px 30px 0px;
  }
}

@media (max-width: 482px) {
  .record__item-graphick {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 300px;
    flex: 0 0 300px;
    padding: 30px 0px 30px 0px;
  }
}

@media (max-width: 480px) {
  .record__text p:first-child {
    top: 5%;
    left: 15%;
  }

  .record__text p:nth-child(2) {
    top: 7%;
    left: 70%;
  }

  .record__image img {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 450px) {
  .mainblock {
    margin: -180px 0 0 0;
  }

  .item-price__title {
    text-align: center;
  }

  .item-price__first-text {
    font-size: 14px;
  }

  .item-price__second-text {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .partner__level p:first-child:after {
    margin: 0 10px 3px 10px;
    width: 20px;
  }

  .partner__progressbar {
    width: 230px;
  }

  .partner__progressbar-a {
    width: 230px;
  }

  .level-a p:first-child:after {
    margin: 0 10px 3px 10px;
    width: 20px;
  }

  .partner__progressbar-b {
    width: 230px;
  }

  .level-b p:first-child:after {
    margin: 0 10px 3px 10px;
    width: 20px;
  }

  .partner__progressbar-c {
    width: 230px;
  }

  .level-c p:first-child:after {
    margin: 0 10px 3px 10px;
  }
}

@media (max-width: 375px) {
  .sale__column-conditions {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }
}

.webp .kibotron__item-title{ background: url(../img/bg-1.webp) left no-repeat; }

.webp .item-title-2{ background: url(../img/bg-2.webp) left no-repeat; }

.webp .item-title-3{ background: url(../img/bg-3.webp) left no-repeat; }

.webp .item-title-4{ background: url(../img/bg-4.webp) left no-repeat; }